/*contacto*/

.contentcontac {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}


.logo {
    text-align: center;
    font-size: 3em;
    margin: 25px;
    color: rgb(20, 17, 20);

span {
color: #000000;
    }
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgb(229, 232, 236, 0.3);

> * {
    padding: 4em;
    }
}


    $color-primario:#161628;
.contact-form {
    background-color:$color-primario;
    form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .block {
        grid-column: 1/3;
    }

    p {
        margin: 0;
        padding: 1em;
    }

    button, input, textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: o;
        color: #dadfdf;
        border-bottom: 1px solid #af07c5;
    }

    button {
        background: #580a63;
        border: 0;
        text-transform: uppercase;
        padding: 1em;

        &:hover {
        background: #c7cccf;
        color: #000;
        transition: bacbackground-color 1s ease-out;
        outline: 0;
        }
    }
    form button:focus {
        background: #c7cccf;
        color: #000;
        transition: bacbackground-color 1s ease-out;
        outline: 0;
        }
    }
}

$color-primario:#161628;

.contacto-info {
    background-color:$color-primario;
    margin:2px;

    padding: 30%;
    h4 {
    text-align: center;
    margin: 0 0 1rem 0;
    }
}

/*largescrren*/
@media (min-width: 700px) {
    main {
    padding: 0 4rem;
    }

.contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

      > * {
        padding: 2em;
        }
    }
}

.map-area {
    width: 600px;
    height: 465px;
    background: #ccc;
    box-shadow: rgb(0, 0, 0) 0 5px 15px;
    iframe {
    width: 100%;
    height: 100%;
    border: none;
    }
}

  /*responsive */
@media (max-width: 991px) {
.contact-form {
    margin-bottom: 30px;
    }

.map-area {
    width: 100%;
    height: 400px;
    }
}

.sectioncontacto {
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    margin: 0;
    color: #ecf0f3;
    font-family: "Quicksand", sans-serif;
    padding: 0 1.5em;
}