.titulopersonalizados {
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    color: #141414;
    width: 100%;
    HEIGHT: 50PX;
    text-align: center;
    justify-content: center;
}
#carouselExampleControls {
    margin-top: 50px;
  }
  
  .d-item {
    height: 800px;
  }
  
  .d-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d2-item {
    height: 800px;
  }
  
  .d2-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d3-item {
    height: 800px;
  }
  
  .d3-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d4-item {
    height: 800px;
  }
  
  .d4-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d5-item {
    height: 800px;
  }
  
  .d5-img {
    height: 100%;
    filter: brightness(0.6);
  }