/*cuadros mascotas*/
.EscogetucuadroFavorito {
    margin-top: 30px;
    text-align: center;
    color: #0e0d0d;
}

.title2video{
    margin-top: 10px;
    text-align: center;
}
.botondecompraahora{
    bottom: 5px;
    color: #101013;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 10px;
    height: 50px;
    width: 100px;
}
.card-group {
    margin-top: 70px;
    color: #000000;
}
.imgcluna {
    width: 330px;
    height: 300px;
}
.titulosmadera {
    font-family: 20px;
    color: #285be9;
}
.imgccaballo {
    width: 330px;
    height: 300px;
}
.titulosimgcaballo {
    font-family: 20px;
    color: #285be9;
}
.imgcperritodimen {
    width: 300px;
    height: 270px;
}

.titulosperritodimen {
    font-family: 20px;
    color: #285be9;
}
.imgctigre {
    width: 300px;
    height: 270px;
}
.titulostigre {
    font-family: 20px;
    color: #285be9;
}
.imgckoala {
    width: 300px;
    height: 270px;
}
.tituloskoala {
    font-family: 20px;
    color: #285be9;
}
.video {
    width: 20px;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    content: "";
    display: block;
    width: 90%;
    padding-bottom: 54.22%;
}
.classvideo {
    justify-items: center;
    width: 90%;
    height: 90%;
    position: absolute;
}
.textofinal {
    position: re;
    text-align: center;
}
.cuadroideal {
    margin: 10px;
    text-align: center;
    color: rgb(14, 13, 13);
}
#tituloideal {
    margin: 35px;
    text-align: center;
    color: rgb(235, 28, 207);
}


