.container-footer {
    height: 90px;
    text-align: center;
}
.footericen {
    margin: 35px;
    text-align: center;
    color: rgb(243, 237, 242);
}
#ubicacion, #youtube, #instagram, #facebook {
    width: 68px;
    height: 48px;
    float: right;
}
