/*mixin*/

@mixin titulostienda{
    font-size: 2rem ;
    text-align: center;
}

.whatsappimg{

    animation-name: logo-what;
    animation-iteration-count: 5;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-duration: 3s;

}
@keyframes logo-what{
0%{
        transform:rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}