
/*variable*/
 * {
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
    box-sizing: border-box;
}

.container-fluid {
    /*Gradientes*/
    background: rgb(194,174,238);
    background: radial-gradient(circle, rgba(194,174,238,0.6138830532212884) 28%, rgb(216, 62, 175) 91%);
    /*background-color: rgb(146, 10, 125);*/
}