
.cardinicios {
    margin-top: 29px;
    background-color: #d5ccda;
    border-radius: 15px;
    box-shadow: 16px 14px 20px #bd7edf;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    text-align: center;
}
.cuadrosdecorativosinc{
    display: flex;
    justify-content: center;

}
.sec2index{
    margin-top: 120px;
}

.contenedorflexind{
    justify-content: center;
    margin-top: 90px;
}
.flex-container {
    /* activamos flex*/
    display: flex;

    /* definimos cual ser nuestro main axis y cual o si sera fila o colunma*/
    flex-direction: row-reverse;
  
    /*dispone los elementos flexibles en eje principal*/
    justify-content: center;
    align-items: center;
    border: 3px solid #7fc4fc;
    background-color: #edf4fa;
    padding: 6px;
  }
  .cajacaj1 {
    /* box modeling*/
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
    margin: 10px;
    text-align: center;
}