
.cardinicios {
    margin-top: 29px;
    background-color: #d5ccda;
    border-radius: 15px;
    box-shadow: 16px 14px 20px #bd7edf;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40px;
    text-align: center;
}