 /*tienda */
.titulotienda {
    text-align: center;
    margin-top: 70px;
    color: rgb(20, 19, 20);
}
.titulodetienda {
    text-align: center;
    margin: 01%;
    color: #242223;
    @include titulostienda;
}
#tituloideal {
    margin-top: 90px;
    text-align: center;
    color: rgb(19, 18, 19);
    justify-content: center;
    margin-top: 05%;
    color: #e928cf;
    @include titulostienda;
}
.listadesple {
    margin-top: 40px;
    width: 32%;
    height: 30%;
    align-items: center;
}
#botondecomprarahora {
    background-color: rgb(22, 216, 216);
    border-radius: 30px;
    width: 70%;
    height: 15%;
    text-align: (center,);
    margin: 05%;
}
.cardtien {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}
.card_item {
    background-color: #e8dbee;
    padding-bottom: 3em;
    flex-wrap: wrap;
    max-width: 450px;
    flex-grow: 1;
    flex-basis: 280px;
}
.card-content {
    width: 90%;
    margin: 0 auto;
}
.card_picture {
    width: 70%;
    margin: 0 auto;
    background: #e8eaf0;
    position: relative;
    bottom: 2em;
}
.card_img {
    width: 100%;
}