 
 @import "index";
 /*variable*/
* {
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
    box-sizing: border-box;
  }
  
  .container-fluid {
    background-color: rgb(146, 10, 128);
  }
  
  #ubicacion, #youtube, #instagram, #facebook {
    width: 68px;
    height: 48px;
    float: right;
  }
  
  .buscar {
    margin: 40px;
    float: right;
    padding: 5px;
  }
  
  .container-footer {
    height: 90px;
    text-align: center;
  }
  
  .footericen {
    margin: 35px;
    text-align: center;
    color: rgb(243, 237, 242);
  }
  
  .seccion3 {
    text-align: center;
    margin-top: 80px;
    color: rgb(235, 28, 207);
  }
  
  /* Metologia BEM*/
  
  .card-group {
    margin-top: 70px;
    color: #000000;
  }
  
  
  .CUADROSDESTACADOS {
    margin-top: 40px;
    text-align: center;
    color: rgb(235, 28, 207);
  }
  
  .contenedorbem {
    justify-content: center;
    margin: 100px;
    gap: 10px;
    color: #4a0569;
    background-color: #580a63;
  }
  
  .tarjeta {
    text-align: center;
    width: 1200px;
    border: 5px double #7fc4fc;
    border-radius: 10px;
    padding: 50px;
  }
  
  .tarjeta_imageninicio, .tarjeta_imagengatitacafe {
    padding-top: 15px;
    text-align: center;
    width: 380px;
    height: 260px;
    padding: 1em;
  }
  
  .tarjeta_imagenmorita, .tarjeta_imagenfamily, .tarjeta_imagensala {
    width: 130px;
    height: 160px;
  }
  
  .tarjeta_texto {
    font-size: 'Roboto',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    color: #1d1b1d;
  }
  
  /*flexbox*/
  
  .flex-container {
    /* activamos flex*/
    display: flex;
    margin-top: 20px;
  
    /* definimos cual ser nuestro main axis y cual o si sera fila o colunma*/
    flex-direction: row-reverse;
  
    /*dispone los elementos flexibles en eje principal*/
    justify-content: center;
    align-items: center;
    border: 3px solid #7fc4fc;
    background-color: #edf4fa;
    padding: 6px;
    margin-right: 20%;
  }
  
  .caja {
    /* box modeling*/
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
  
    /* tipografia*/
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .arbolmulti, .flores, .sala, #persoalizado {
    width: 300px;
    height: 200px;
  }
  
  #perrito {
    width: 200px;
    height: 200px;
    gap: 20px;
  }
  
  .flex-container2 {
    /* activamos flex*/
    display: flex;
    justify-content: end;
    margin: 45px;
  }
  
  .cajacaj1 {
    /* box modeling*/
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
    margin: 10px;
    text-align: center;
  
    /* tipografia*/
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
  }
  
  /*index*/
  
  .flex-container {
    display: flex;
    background-color: rgb(229, 232, 236);
    justify-items: center;
    width: 82%;
  
    div {
      background-color: rgb(1, 8, 8);
      margin: 5px;
      color: rgb(255, 255, 255);
      flex-basis: 20%;
    }
  }
  
  @media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
  
      div {
        flex-basis: 100%;
      }
    }
  }
  
  /*Boton whatsapp*/
  
  .containerwhap {
    margin-top: 10px;
  }
  
  #btnwha {
    display: inline-block;
    margin-top: 0px;
    width: 40px;
    font-size: 18x;
    padding: 10px 15px;
    border-radius: 60%;
  }
  
  #what {
    width: 70px;
    HEIGHT: 70PX;
  }
  
  .cuadroideal {
    text-align: center;
    color: rgb(14, 13, 13);
  }
  
  #tituloideal {
    margin: 15px;
    text-align: center;
    color: rgb(235, 28, 207);
  }
  
  /*-------------Tienda--------------------*/
  /*tienda */
  
  .titulotienda {
    text-align: center;
    margin-top: 70px;
    color: rgb(20, 19, 20);
  }
  
  .cardtien {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
  }
  
  .card_item {
    background-color: #e8dbee;
    padding-bottom: 3em;
    flex-wrap: wrap;
    max-width: 450px;
    flex-grow: 1;
    flex-basis: 280px;
  }
  
  .card-content {
    width: 90%;
    margin: 0 auto;
  }
  
  .card_picture {
    width: 70%;
    margin: 0 auto;
    background: #e8eaf0;
    position: relative;
    bottom: 2em;
  }
  
  .card_img {
    width: 100%;
  }
  
  /*tienda */
  
  #titulodetienda {
    margin: 01%;
    color: #e928cf;
    text-align: center;
  }
  
  #tituloideal {
    margin-top: 90px;
    text-align: center;
    color: rgb(19, 18, 19);
    justify-content: center;
    margin-top: 05%;
    text-align: center;
    color: #e928cf;
  }
  
  .listadesple {
    margin-top: 40px;
    width: 32%;
    height: 30%;
    align-items: center;
  }
  
  .cajacaj2 {
    /* box modeling*/
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
    margin: 10px;
  
    /* tipografia*/
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .cajacj3, .cajacj4, .cajacj5 {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
    margin: 10px;
  
    /* tipografia*/
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  #botondecomprarahora {
    background-color: rgb(22, 216, 216);
    border-radius: 30px;
    width: 70%;
    height: 15%;
    text-align: (center,);
    margin: 05%;
  }
  
  .flex-container3 {
    /* activamos flex*/
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin: 200px;
    border-left: #285be9;
  }
  
  .cj1C, .cj2C {
    /* box modeling*/
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
    margin: 10px;
  
    /* tipografia*/
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .cj3C, .cj4C {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #285be9;
    margin: 05px;
  
    /* tipografia*/
    color: #000;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  .conttarjetas {
    /*box-modeling*/
    padding: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin: 100px;
    border-left: #285be9;
  }
  
  .imgtarjetas {
    width: 600px;
    height: 200px;
    justify-items: center;
  }
  
  /*cuadros personalizados*/
  
  .titulopersonalizados {
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
    color: #141414;
    width: 100%;
    HEIGHT: 50PX;
    text-align: center;
    justify-content: center;
  }
  
  #carouselExampleControls {
    margin-top: 50px;
  }
  
  .d-item {
    height: 800px;
  }
  
  .d-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d2-item {
    height: 800px;
  }
  
  .d2-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d3-item {
    height: 800px;
  }
  
  .d3-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d4-item {
    height: 800px;
  }
  
  .d4-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  .d5-item {
    height: 800px;
  }
  
  .d5-img {
    height: 100%;
    filter: brightness(0.6);
  }
  
  /*cuadros mascotas */
  
  .grid-containermascota {
    /*Box modeling*/
    justify-content: center;
    width: 40%;
    margin: auto;
    flex-wrap: wrap;
  
    /*activamos grid*/
    display: grid;
  
    /*definimos la cantidad de columnas y el ancho de las mismas*/
    grid-template-columns: repeat(3, 1fr);
  
    /*definimos  la canidad de filas y el alto de las mismas*/
    column-gap: 2px;
    row-gap: 5px;
  }
  
  .container-text-center {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4.5em;
    flex-wrap: wrap;
  }
  
  .grid-containermascota > div {
    /*box-modeling*/
    background-color: #e8dbee;
    padding-bottom: 3em;
    flex-wrap: wrap;
    max-width: 450px;
    flex-grow: 1;
    flex-basis: 280px;
    display: block;
    border: 1px solid #000;
    padding: 20px;
    background-color: #ecf0f3;
    flex-basis: 0;
  }
  
  .card shadow {
    background-color: #e8dbee;
    padding-bottom: 3em;
    flex-wrap: wrap;
    max-width: 450px;
    flex-grow: 1;
    flex-basis: 280px;
  }
  
  .EscogetucuadroFavorito {
    margin-top: 30px;
    text-align: center;
    color: #0e0d0d;
  }
  
  .imgcperrito {
    width: 330px;
    height: 300px;
  }
  
  .titulosimp {
    font-family: 20px;
    color: #285be9;
  }
  
  #botongridcompra {
    background-color: rgb(22, 216, 216);
    border-radius: 30px;
    width: 70%;
    height: 12%;
    text-align: (center,);
    margin: 05%;
  }
  
  .imgcluna {
    width: 330px;
    height: 300px;
  }
  
  .titulosmadera {
    font-family: 20px;
    color: #285be9;
  }
  
  .imgccaballo {
    width: 330px;
    height: 300px;
  }
  
  .titulosimgcaballo {
    font-family: 20px;
    color: #285be9;
  }
  
  .imgcperritodimen {
    width: 300px;
    height: 270px;
  }
  
  .titulosperritodimen {
    font-family: 20px;
    color: #285be9;
  }
  
  .imgctigre {
    width: 300px;
    height: 270px;
  }
  
  .titulostigre {
    font-family: 20px;
    color: #285be9;
  }
  
  .imgckoala {
    width: 300px;
    height: 270px;
  }
  
  .tituloskoala {
    font-family: 20px;
    color: #285be9;
  }
  
  .botondeinformation {
    bottom: 5px;
    color: #101013;
    background-color: #77dbe9;
    border-radius: 10px;
    height: 50px;
    width: 100px;
  }
  
  .title {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .video {
    width: 20px;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    content: "";
    display: block;
    width: 90%;
    padding-bottom: 54.22%;
  }
  
  .classvideo {
    justify-items: center;
    width: 90%;
    height: 90%;
    position: absolute;
  }
  
  .textofinal {
    position: re;
    text-align: center;
  }
  
  /*contacto*/
  
  .contentcontac {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }
  
  
  .logo {
    text-align: center;
    font-size: 3em;
    margin: 25px;
    color: rgb(20, 17, 20);
  
    span {
      color: #000000;
    }
  }
  
  .contact-wrapper {
    box-shadow: 0 0 20px 0 rgb(229, 232, 236, 0.3);
  
    > * {
      padding: 4em;
    }
  }
  
  .contact-form {
    background: #1d1b1d;
  
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      .block {
        grid-column: 1/3;
      }
  
      p {
        margin: 0;
        padding: 1em;
      }
  
      button, input, textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: o;
        color: #dadfdf;
        border-bottom: 1px solid #af07c5;
      }
  
      button {
        background: #580a63;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
  
        &:hover {
          background: #c7cccf;
          color: #000;
          transition: bacbackground-color 1s ease-out;
          outline: 0;
        }
      }
  
      form button:focus {
        background: #c7cccf;
        color: #000;
        transition: bacbackground-color 1s ease-out;
        outline: 0;
      }
    }
  }
  
  .contacto-info {
    background-color: #580a63;
    padding: 30%;
  
    h4 {
      text-align: center;
      margin: 0 0 1rem 0;
    }
  }
  
  /*largescrren*/
  @media (min-width: 700px) {
    main {
      padding: 0 4rem;
    }
  
    .contact-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      > * {
        padding: 2em;
      }
    }
  }
  
  .map-area {
    width: 600px;
    height: 465px;
    background: #ccc;
    box-shadow: rgb(0, 0, 0) 0 5px 15px;
  
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  
  /*responsive */
  @media (max-width: 991px) {
    .contact-form {
      margin-bottom: 30px;
    }
  
    .map-area {
      width: 100%;
      height: 400px;
    }
  }
  
  .sectioncontacto {
    margin: 0;
    background: #77dbe9;
    color: #ecf0f3;
    font-family: "Quicksand", sans-serif;
    padding: 0 1.5em;
  }
  
  .titulo-cuadrospersonalizados {
    text-align: center;
    color: #e928cf;
    font-family: 'robot', sans-serif;
  }
  
  /*pseudoclases */
  
  a {
    &:hover {
      font-size: 20px;
      color: #e928cf;
    }
  
    &:active {
      background-color: rgb(251, 255, 255);
      color: #e928cf;
      padding: 10px;
    }
  
    &:link {
      color: rgb(3, 3, 1);
    }
  
    &:visited {
      color: aqua;
    }
  }
  
  /*Mdia quueris */
  /*cuando elusuario visiste esta pantalla muestrale el anco de la pantalla de la siguiente forma*/
  @media screen and (max-width: 480px) {
    .titulo-cuadrospersonalizados {
      text-align: center;
      color: #e928cf;
      font-size: 18px;
      border: 2px solid #000;
    }
  }
  
  @media screen and (min-width: 786px) and (max-width: 992px) {
    .titulo-cuadrospersonalizados {
      text-align: center;
      color: #e928cf;
      font-size: 18px;
      border: 2px solid #000;
      margin-top: 20px;
    }
  }
  